= title('The Forum')
.container
  .well
    %p
      %strong Welcome to our forum! Post questions to fellow cooks and food enthusiasts in the topic areas below. You may browse topics and posts, but if you want to add a post or reply, you must
      = link_to 'register for an account', new_user_registration_path
      %strong or
      = link_to 'login', new_user_session_path
      %strong if you're aleady a member.
    
    %p
      We do have a few rules to keep this forum as a friendly place to truly exchange tips, ideas, experiences and suggestions:
    %ul
      %li
        Be respectful and courteous to your fellow cooks: profanity, flaming, trolling, name calling  and the like will not be tolerated.
      %li
        Moderator will screen posts and comments for appropriateness. User will be informed by email of any posts found to be in violation of our rules. Any post that appears to be spam will be deleted outright.
      %li
        Repeat rule offenders face a ban from this forum.
      %li
        No promotion of commercial ventures, except in the off-topic section. These posts will be screened according to forum rules.
    
  .panel.panel-info
    - @topics.each do |topic|
      .panel-heading
        = link_to topic.title, topic_path(topic)
      .panel-body
        = topic.description