  = simple_form_for(@recipe, html: { method: :post, class: 'forms', multipart: true } ) do |f|
  .form-group
    = f.input :title, class: 'form-control'
  .form-group
    = f.input :ingredients, class: 'form-control', required: true, placeholder: 'Separate each ingredient with a semicolon (;)', input_html: { :rows => 8 }
  .form-group
    = f.input :steps, class: 'form-control', required: true, input_html: { :rows => 8 }
  .form-group
    = f.label 'Add optional recipe image'
    = f.file_field :recipe_img
  .form-group
    = f.collection_select(:categories, @categories, :id, :cat_name, { prompt: 'Select one or more categories' }, { multiple: true, class: 'form-control' } )
  = f.hidden_field :user_id, value: current_user.id
  = f.button :submit, "Add Recipe", class: 'btn btn-primary'