= title(@topic.title)
.container
  .row.row-custom
    %ol.breadcrumb.pull-right
      %li
        = link_to 'Home', root_path
      %li
        = link_to 'Forum', forums_path
      %li= @topic.title
    .clearfix
    = forum_signed_in
    .panel.panel-default
      .panel-heading
        %h2= @topic.title
      .panel-body
        - if @posts.count != 0
          %table.table
            - @posts.each do |post|
              %tr
                %td
                  %h5
                    = link_to post.title, topic_post_url(@topic, post)
                  = truncate(strip_tags(post.body).html_safe, omission: '...', separator: ' ', length: 120)
                  %br/
                  %p
                    By
                    %strong= post.username
                    at
                    = local_time(post.created_at, '%d %B %Y, %l:%M %P')
            = will_paginate @posts
        - else
          %p
            There are no posts in this category yet.
        = link_to 'New Post', new_topic_post_path(@topic, @post), class: 'btn btn-primary pull-right'
        
    