= title(@topic.title)
.container
  .row.row-custom
    %ol.breadcrumb.pull-right
      %li
        %a= link_to 'Forum', forums_path
      %li= @topic.title
    .clearfix
    .panel.panel-default
      .panel-heading
        %h2= @topic.title
      .panel-body
        - if @posts.count != 0
          %table.table
            - @posts.each do |post|
              %tr
                %td
                  %h5
                    %a= link_to post.title, topic_post_path(@topic, post)
                  %p
                    = truncate(post.body, omission: '...', separator: ' ', length: 70)
                  %p
                    By
                    %strong= post.user.username
                    at
                    = local_time(post.created_at, '%d %B %Y, %l:%M %P')
        - else
          %p
            There are no posts in this category yet.
        = link_to 'New Post', new_topic_post_path(@topic, @post), class: 'btn btn-primary pull-right'
    