= simple_form_for(@recipe, html: {method: :post, class: 'forms', multipart: true}) do |f|
  = f.input :title, required: true, class: 'form-control'
  = f.input :ingredients, class: 'form-control', required: true, placeholder: 'Separate each ingredient with a semicolon (;)', input_html: { :rows => 8 }
  = f.input :steps, class: 'form-control', required: true, input_html: { :rows => 8 }
  = f.input :comments, class: 'form-control', input_html: { :rows => 8 }
  
  = f.label 'Add optional recipe image'
  = f.file_field :recipe_img
  
  = f.hidden_field :user_id, value: current_user.id
  %br/
  = f.button :submit, 'Create Recipe', class: 'btn btn-primary'
%br/
%p
  %strong Additional note:
  RecipeBox welcomes recipes from everywhere but also respects intellectual property. If you want to submit a favorite that is not public domain or you didn't create, you must specify its source -- such as cookbook, chef's name, website, blog, etc. -- in the comments field. 
  
  
  
  