= title('Search Recipes')

.container
  .row.row-custom
    %h2.search-head Search Recipes
    = form_tag recipes_path, method: :get, class: "forms" do
      = text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Search recipes'
      %br/
      = submit_tag 'Search', class: "btn btn-primary"
      = button_tag 'Reset', type: :reset, class: "btn btn-default"
      %br
      %br
    - if !@recipes.blank?
      %h2
        Search Result
      - @recipes.each do |recipe|
        %a{:href => "recipes/#{recipe.id}"}= recipe.title
        %br/
  %h2.search-head Or Click These Popular Categories!
  .row.popular-cat
    .col-md-4.food-col
      %a{:href => "categories/22"}
        %i.icon-spaghetti2.food-col-i
      %h3 Dinners
    .col-md-4.food-col
      %a{:href => "categories/12"}
        %i.icon-tacosalad.food-col-i
      %h3 Side Dishes
    .col-md-4.food-col
      %a{:href => "categories/13"}
        %i.icon-salad.food-col-i
      %h3 Salads
    .col-md-4.food-col
      %a{:href => "categories/11"}
        %i.icon-chickenwhole.food-col-i
      %h3 Entrees
    .col-md-4.food-col
      %a{:href => "categories/23"}
        %i.icon-vegbasket.food-col-i
      %h3 Vegetable Dishes
    .col-md-4.food-col
      %a{:href => "categories/14"}
        %i.icon-cakeslice.food-col-i
      %h3 Desserts