= title('Search Recipes')

.container
  .row.row-custom
    %h2.search-head All Recipes
    = form_for recipes_path, method: :get, class: "forms" do |f|
      = f.text_field :search, class: "form-control"
      = f.submit 'Search', class: "btn btn-primary"
    - @recipes.each do |r|
      = r.title
  %h2.search-head Popular Categories
  .row
    .col-md-4.food-col
      %i.icon-spaghetti2.food-col-i
      %h3 Dinners
    .col-md-4.food-col
      %i.icon-tacosalad.food-col-i
      %h3 Side Dishes
    .col-md-4.food-col
      %i.icon-salad.food-col-i
      %h3 Salads
    .col-md-4.food-col
      %i.icon-chickenwhole.food-col-i
      %h3 Meat Dishes
    .col-md-4.food-col
      %i.icon-vegbasket.food-col-i
      %h3 Vegetable Dishes
    .col-md-4.food-col
      %i.icon-cakeslice.food-col-i
      %h3 Desserts