= title('Search Recipes')

.container
  .row.row-custom
    %h1 Featured Recipe
    .col-md-4
      - featured_recipe
      %p#featured-header= link_to @recipe.title, recipe_path(@recipe)
    .col-md-4
      = image_tag(@recipe.recipe_img.url(:medium))
  %hr/
  .row.row-custom
    %h2.search-head Search Recipes
    = form_tag recipes_path, method: :get, class: "forms" do
      = text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Search recipes'
      %br/
      = submit_tag 'Search', class: "btn btn-primary"
      = button_tag 'Reset', type: :reset, class: "btn btn-default"
      %br
      %br
    - if !@recipes.blank?
      %h2
        Search Result
      - @recipes.each do |recipe|
        %a{:href => "recipes/#{recipe.id}"}= recipe.title
        %br/
  %hr/
  .row.row-custom
    %h2.search-head All Categories
  