= title('Search Recipes')

.container
  .row.row-custom
    %h2.search-head All Recipes
    = form_tag recipes_path, method: :get, class: "forms" do
      = text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Search recipes'
      %br/
      = submit_tag 'Search', class: "btn btn-primary"
      %br
      %br
    - @recipes.each do |recipe|
      %a{:href => "recipes/#{recipe.id}"}= recipe.title
      %br/
  %h2.search-head Popular Categories
  .row
    .col-md-4.food-col
      %i.icon-spaghetti2.food-col-i
      %h3 Dinners
    .col-md-4.food-col
      %i.icon-tacosalad.food-col-i
      %h3 Side Dishes
    .col-md-4.food-col
      %i.icon-salad.food-col-i
      %h3 Salads
    .col-md-4.food-col
      %i.icon-chickenwhole.food-col-i
      %h3 Meat Dishes
    .col-md-4.food-col
      %i.icon-vegbasket.food-col-i
      %h3 Vegetable Dishes
    .col-md-4.food-col
      %i.icon-cakeslice.food-col-i
      %h3 Desserts