
      <div class="container">
      <div class="row row-custom">
       <div class="col-md-6">
         <hr>
         <h2><%= @recipe.title %></h2>
         <p>Submitted by <%= @user.username %></p>
         
         <% if @recipe.comments != nil %>
           <p><%= @recipe.comments %></p>
         <% end %>
         <hr>
         <strong><%= split_ingredients(@recipe.ingredients) %></strong>
         
         <br><br>
         <p><%= @recipe.steps %></p>
       </div>
       <div class="col-md-6">
         <% if @recipe.recipe_img != nil %>
           <%= image_tag @recipe.recipe_img %>
         <% end %>
       </div>
       <a href="#">Print Recipe</a>
      </div>  
    </div>
   