= title(@recipe.title)

.container
  .row.row-custom
    #recipe-info
      .col-md-6
        %hr/
        %h2= @recipe.title
        %p
          Submitted by
          = @recipe.username
        - if @recipe.comments != nil
          %p= @recipe.comments.html_safe
        %hr/
        %strong= split_ingredients(@recipe.ingredients)
        %br/
        %br/
        %p= @recipe.steps.html_safe
      .col-md-6
        - if @recipe.recipe_img != nil
          = image_tag @recipe.recipe_img.url(:medium)
    .clearfix
    %p
      %strong Tagged:
    - if @categories.count >= 4
      - @categories.in_groups_of(4, false) do |group|
        - group.each do |category|
          &bull;
          = link_to category.name, category_path(category)
        %br/
    - else
      - @categories.each do |category|
        &bull;
        = link_to category.name, category_path(category)

        
        