%h3 User Posts
- if @user.posts_count > 0
  %p
    %strong
      = pluralize(@user.posts_count, 'post')
  - @posts.each do |post|
    %p= link_to post.title, post_path(post)
    %p= truncate(strip_tags(post.body), omission: '...', separator: ' ', length: 65)
- else
  %p User has not submitted any posts yet.
%h3 User Comments
- if @user.comments_count > 0
  %p
    %strong
      = pluralize(@user.comments_count, 'comment')
  - @comments.each do |comment|
    %p= link_to truncate(strip_tags(comment.body), omission: '...', separator: ' ', length: 65), post_path(comment.post_id)
- else
  %p User has not submitted any comments yet.