= title('User Profile')
.container
  .row
    .col-md-4
      = render 'users/user_profile'
      = render 'users/user_recipe'
    .col-md-4
      = render 'users/user_posts'
    .col-md-4
      = render 'users/user_reviews'

      