= title('Welcome')

%div{:class => 'container-full', :id => 'home-subhead'}
  %h1 RecipeBox's Mission is simple...
  %div{:class =>'row', :id => 'subhead'}
    .col-md-6
      %h2 1. Discover
      %p Provide a place for cooks worldwide to search for recipes and get new ideas for food every day. Get new ideas for your kitchen from our wide and varied recipe collection.
    .col-md-6
      %h2 2. Share
      %p Offer food enthusiasts a platform on which they can feature their own recipes. Register today to upload and share your favorite culinary creations!
  %hr
  .row
    .col-md-6
      %h1 Newest Recipes
      - @recipes.each do |recipe|
        - if recipe.approved == 1 && recipe.tags != '0'
          %p
            = image_tag recipe.recipe_img, class: 'microthumb'
            = link_to recipe.title, recipe_path(recipe)
            Added #{timeago(recipe.created_at)}
    .col-md-6
      %h1 Newest Members
      - @users.each do |user|
        %p
          - if user.avatar.blank? || user.avatar == 'avatar-default.jpg'
            = image_tag "fallback/avatar-default.jpg", class: 'microthumb'
          - else
            = image_tag user.avatar.url(:thumb), class: 'microthumb'
          = link_to user.username, user_path(user)
          Joined #{timeago(user.created_at)}
      