- if @comments.count > 0
  - @comments.each do |comment|
    %tr
      %td.col-md-3.info.post-col-left
        %strong= link_to comment.username, '/users/' + comment.user_id.to_s
        %br/
        - if comment.avatar == "avatar-default.jpg" || comment.avatar.blank?
          = image_tag "fallback/avatar-default.jpg", class: 'microthumb'
        - else
          = image_tag comment.avatar.url(:thumb), class: 'microthumb'
        %br
          %span
            %strong
              Joined
            %br/
            = local_time(comment.created_at, '%e %B %Y')
            %br/
            %strong
              Location:
            %br/
            = comment.location
      %td.col-md-9.post-col-right
        = emojify(comment.body.html_safe)
        %br/
        %em
        = local_time(comment.created_at, '%e %B %Y, %l:%M %P')
    %tr
      %td.col-md-3
      %td.col-md-9
        = render 'comments/form'
- else
  %tr
    %td.col-md-3
    %td.col-md-9
      %p
        %strong No replies yet. Be the first to answer.
      %br
      = render 'comments/form' 