%tr
  %td.col-md-3.info.post-col-left
    %strong
      = link_to @post.username, user_path(@post.user_id), action: :uri_from_posts
    %br/
    - if @post.avatar == "avatar-default.jpg" || @post.avatar.blank?
      = image_tag "fallback/avatar-default.jpg", class: 'microthumb'
    - else
      = image_tag @post.avatar.url(:thumb), class: 'microthumb'
    %br/
    %span
      %strong
        Joined
      %br/
      = local_time(@post.created_at, '%e %B %Y')
      %br/
      %strong
        Location:
      %br/
      = @post.user.location
      %br/
      %strong
        Posts:
      = @post.posts_count
      %br/
      %strong
        = post_level(@post.posts_count)
  %td.col-md-9.post-col-right
    - if user_signed_in? && @post.user_id == current_user.id && @post.created_at < @post_edit_expire
      = time_compare(@post.created_at, @post_edit_expire, 'post', 'title or body')
      %h5= best_in_place @post, :title, as: :input
      = best_in_place @post, :body, as: :textarea, sanitize: false, display_with: lambda { |v| emojify(v.html_safe) }
    - else
      %h5= @post.title
      = emojify(@post.body.html_safe)
    %em= local_time(@post.created_at, '%e %B %Y, %l:%M %P')
    %br/
    %p
      = pluralize(@post.comments_count, 'comment')