= title('Post Topic')
.container
  .row
    %ol.breadcrumb.pull-right
      %li
        = link_to 'Home', root_path
      %li
        = link_to 'Forum', forums_path
      %li
        %a{:href => "/topics/#{@post.topic.id}"}= @post.topic.title
      %li
        Post
    .clearfix
    = forum_signed_in
    %table.table.table-bordered
      %tr
        %td.col-md-3.info.post-col-left
          %strong
            = @post.user.username
          %br/
          - if @post.user.avatar == "avatar-default.jpg" || @post.user.avatar.blank?
            = image_tag "fallback/avatar-default.jpg", class: 'microthumb'
          - else
            = image_tag @post.user.avatar.url(:thumb), class: 'microthumb'
          %br/
          %span
            %strong
              Joined
            %br/
            = local_time(@post.user.created_at, '%e %B %Y')
            %br/
            %strong
              Location:
            %br/
            = @post.user.location
        %td.col-md-9.post-col-right
          %p
            %strong= @post.title
          %p
            = emojify(@post.body.html_safe)
          %em
            = local_time(@post.created_at, '%e %B %Y, %l:%M %P')
      - if @comments.count > 0
        - @comments.each do |comment|
          %tr
            %td.col-md-3.info.post-col-left
              %strong= comment.user.username
              %br/
              - if comment.user.avatar == "avatar-default.jpg" || comment.user.avatar.blank?
                = image_tag "fallback/avatar-default.jpg", class: 'microthumb'
              - else
                = image_tag comment.user.avatar.url(:thumb), class: 'microthumb'
              %br
              %span
                %strong
                  Joined
                %br/
                = local_time(comment.user.created_at, '%e %B %Y')
                %br/
                %strong
                  Location:
                %br/
                = comment.user.location
            %td.col-md-9.post-col-right
              = emojify(comment.body.html_safe)
              %em
                = local_time(comment.created_at, '%e %B %Y, %l:%M %P')
        %tr
          %td.col-md-3
          %td.col-md-9
            = render 'comments/form'
      - else
        %tr
          %td.col-md-3
          %td.col-md-9
            %p
              %strong No replies yet. Be the first to answer.
            %br
            = render 'comments/form' 
          
      