= title('All Reviews')
.container
  .row.row-custom
    %h3 
      All Reviews for
      = @recipe.title
    - if @reviews
      - @reviews.each do |review|
        .stars
          = build_stars(review.stars)
        %strong
          = link_to review.username, user_path(review.user)
          said:
        %br/
        = review.body.html_safe
        %br/
        %em
          = local_time(review.created_at, '%e %B %Y, %l:%M %P')
        %hr/
    - else
      %p There are no reviews for this recipe yet. Have you tried this recipe and want to reivew it? Sign up or login and add your voice!
    %br/
    %p= link_to 'Back to Recipe', recipe_path(@recipe.id), class: "btn btn-primary"
    