= title('User Review')
.container
  .row.row-custom
    %p.small-subhead
      Review of
      = @review.title
    .stars
      = build_stars(@review.stars)
    = @review.body.html_safe
    %br/
    %strong
      &mdash;
      = @review.username
    %br/
    %br/
    %p
      = link_to 'Back', recipe_path(@review.recipe_id), class: 'btn btn-primary'