!!!
%html
  %head
    = render 'layouts/forums_shared/head'
  %body
    %header
      %h1 RecipeBox Forum
      = form_tag forums_path, method: :get, class: "form-inline pull-right" do
        = text_field_tag :search, params[:search], placeholder: 'Search Forum'
        = submit_tag 'Search', class: "btn btn-info"
    = render 'layouts/shared/messages'  
    = yield
  